numpy
scipy
numba
astropy
sunpy[all]
matplotlib
mpl-animators
reproject
pandas
# packaging is required on some systems for build/packaging tools
packaging
# Development / tooling
pre-commit
black
isort
flake8